<a href="https://colab.research.google.com/github/samhoon000/indian-food-price-volatility/blob/main/Indian_Agriculutre_Mandi_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub
path = kagglehub.dataset_download("arjunyadav99/indian-agricultural-mandi-prices-20232025")

Using Colab cache for faster access to the 'indian-agricultural-mandi-prices-20232025' dataset.

In [2]:
import pandas as pd
import os
os.listdir(path)
csv_file_name = 'Agriculture_price_dataset.csv'
full_csv_path = os.path.join(path, csv_file_name)
df = pd.read_csv(full_csv_path, encoding='latin1')
df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date
0,Maharashtra,nashik,Lasalgaon(Niphad),Wheat,Maharashtra 2189,FAQ,2172.0,2399.0,2300.0,6/6/2023
1,Maharashtra,satara,Patan,Tomato,Other,FAQ,1000.0,1500.0,1250.0,6/6/2023
2,Uttar Pradesh,mainpuri,Bewar,Potato,Local,FAQ,800.0,820.0,810.0,6/6/2023
3,Rajasthan,chittorgarh,Nimbahera,Wheat,Other,FAQ,2040.0,2668.0,2300.0,6/6/2023
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,6/6/2023

In [3]:
df.columns

Index(['STATE', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min_Price', 'Max_Price', 'Modal_Price', 'Price Date'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737392 entries, 0 to 737391
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   STATE          737392 non-null  object
 1   District Name  737392 non-null  object
 2   Market Name    737392 non-null  object
 3   Commodity      737392 non-null  object
 4   Variety        737392 non-null  object
 5   Grade          737392 non-null  object
 6   Min_Price      737392 non-null  float64
 7   Max_Price      737392 non-null  float64
 8   Modal_Price    737392 non-null  float64
 9   Price Date     737392 non-null  object
dtypes: float64(3), object(7)
memory usage: 56.3+ MB

In [5]:
df['Price Date']=pd.to_datetime(df['Price Date']) #Convert the data type inot date_time

In [6]:
df = df.sort_values(['Commodity', 'Price Date'])

In [7]:
df['Daily_Price_Change']=df.groupby('Commodity')['Modal_Price'].diff() #Price change in the market for each commodity

In [8]:
df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date,Daily_Price_Change
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,NaN
5,Rajasthan,bharatpur,Bayana,Onion,Onion,FAQ,1000.0,1000.0,1000.0,2023-06-06,383.0
7,Uttar Pradesh,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,-383.0
15,Uttar Pradesh,bareilly,Bareilly,Onion,Red,FAQ,1075.0,1150.0,1120.0,2023-06-06,503.0
16,Haryana,kaithal,Kaithal,Onion,1st Sort,FAQ,700.0,1200.0,950.0,2023-06-06,-170.0

In [9]:
df['Prcnt_Price_Change']=df.groupby('Commodity')['Modal_Price'].pct_change()*100 #Percent of the price change

In [10]:
df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date,Daily_Price_Change,Prcnt_Price_Change
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,NaN,NaN
5,Rajasthan,bharatpur,Bayana,Onion,Onion,FAQ,1000.0,1000.0,1000.0,2023-06-06,383.0,62.074554
7,Uttar Pradesh,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,-383.0,-38.300000
15,Uttar Pradesh,bareilly,Bareilly,Onion,Red,FAQ,1075.0,1150.0,1120.0,2023-06-06,503.0,81.523501
16,Haryana,kaithal,Kaithal,Onion,1st Sort,FAQ,700.0,1200.0,950.0,2023-06-06,-170.0,-15.178571

In [11]:
df['Price_Spread']=df['Max_Price'] - df['Min_Price'] #Takes difference between highest and lowest price of the day

In [12]:
df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date,Daily_Price_Change,Prcnt_Price_Change,Price_Spread
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,NaN,NaN,567.0
5,Rajasthan,bharatpur,Bayana,Onion,Onion,FAQ,1000.0,1000.0,1000.0,2023-06-06,383.0,62.074554,0.0
7,Uttar Pradesh,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,-383.0,-38.300000,567.0
15,Uttar Pradesh,bareilly,Bareilly,Onion,Red,FAQ,1075.0,1150.0,1120.0,2023-06-06,503.0,81.523501,75.0
16,Haryana,kaithal,Kaithal,Onion,1st Sort,FAQ,700.0,1200.0,950.0,2023-06-06,-170.0,-15.178571,500.0

In [13]:
df['Rolling_7D_Volatility']=df.groupby('Commodity')['Modal_Price'].rolling(7).std().reset_index(level=0,drop=True)
#How much did prices swing this week?
#High value = prices fluctuated a lot this week
#Low value = stable prices

In [14]:
df['Month']=df['Price Date'].dt.month

In [15]:
def get_season(month):
  if month in [12,1,2]:
    return "Winter"
  elif month in [3,4,5]:
    return "Summer"
  elif month in [6,7,8]:
    return "Monsoon"
  else:
    return "Post-Monsoon"

In [16]:
df['Season']=df['Month'].apply(get_season)

In [17]:
df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date,Daily_Price_Change,Prcnt_Price_Change,Price_Spread,Rolling_7D_Volatility,Month,Season
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,NaN,NaN,567.0,NaN,6,Monsoon
5,Rajasthan,bharatpur,Bayana,Onion,Onion,FAQ,1000.0,1000.0,1000.0,2023-06-06,383.0,62.074554,0.0,NaN,6,Monsoon
7,Uttar Pradesh,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,-383.0,-38.300000,567.0,NaN,6,Monsoon
15,Uttar Pradesh,bareilly,Bareilly,Onion,Red,FAQ,1075.0,1150.0,1120.0,2023-06-06,503.0,81.523501,75.0,NaN,6,Monsoon
16,Haryana,kaithal,Kaithal,Onion,1st Sort,FAQ,700.0,1200.0,950.0,2023-06-06,-170.0,-15.178571,500.0,NaN,6,Monsoon

In [18]:
# Market Average price helps us identify which market charges more or less (transofrm keeps all the row in commodity)
df['Market_Average_Price']=df.groupby(['Market Name','Commodity'])['Modal_Price'].transform('mean')

In [19]:
df['Price_Deviation']=df['Modal_Price'] - df['Market_Average_Price'] #Positive value = Overpriced Today and Negative value = Cheaper than usual

In [20]:
df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date,Daily_Price_Change,Prcnt_Price_Change,Price_Spread,Rolling_7D_Volatility,Month,Season,Market_Average_Price,Price_Deviation
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,NaN,NaN,567.0,NaN,6,Monsoon,2060.877612,-1443.877612
5,Rajasthan,bharatpur,Bayana,Onion,Onion,FAQ,1000.0,1000.0,1000.0,2023-06-06,383.0,62.074554,0.0,NaN,6,Monsoon,1671.835938,-671.835938
7,Uttar Pradesh,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,2023-06-06,-383.0,-38.300000,567.0,NaN,6,Monsoon,2060.877612,-1443.877612
15,Uttar Pradesh,bareilly,Bareilly,Onion,Red,FAQ,1075.0,1150.0,1120.0,2023-06-06,503.0,81.523501,75.0,NaN,6,Monsoon,2115.904965,-995.904965
16,Haryana,kaithal,Kaithal,Onion,1st Sort,FAQ,700.0,1200.0,950.0,2023-06-06,-170.0,-15.178571,500.0,NaN,6,Monsoon,1293.437500,-343.437500

In [21]:
df.to_csv("Indian_Agriculutre_Mandi_Price.csv",index=False)